.icone_html {
    color: #f75421;
}

.icone_css {
    color: #006cb4;
}

.icone_js {
    color : #e8d44d;
}

.icone_php {
    color: #7377ad;
}

.icone_organisation {
    color: lightseagreen;
}

.icone_wordpress {
    color: #007198;
}

.icone_jquery {
    max-height: 61px;
}

ul > li > .icone_jquery {
    max-height: 16px;
}

.icone_html, .icone_css, .icone_js, .icone_jquery, ._icone_php, .icone_github, .icone_equipe, .icone_organisation, .icone_wordpress {
    padding-right: 5px;
    padding-left: 5px;
}

.icone_dropdown_bas, .icone_dropdown_haut {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 80px;
    margin: auto;
    padding: 0;
}

.icone_dropdown_bas:hover, .icone_dropdown_haut:hover {
    background: grey;
}

.pointer {
    cursor: pointer;
}

.icone_dropdown_haut {
    display: none;
}

.projet_competences > ul {
    display: none;
}

.big {
    font-size: 60px;
    padding-top: 20px;
}

header {
    display: flex;
    flex-flow: row wrap;
}

#mes_liens {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    background: grey;
    border-bottom: 1px solid black;
    display: none;
}

#mes_liens > a {
    font-size: 20px;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    background: grey;
    text-decoration: none;
    padding: 10px;
    border-top: 1px solid black;
    color: white;
}

#mes_liens > a:hover {
    background: lightgray;
}

#nav_menu {
    display: flex;
    flex-flow: row wrap;
}

.header_logo_nav {
    width: 100%;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}

.barres {
    padding: 20px;
    font-size: 28px;
    cursor: pointer;
}

.barres:hover {
    background: grey;
}

#div_projets {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}

#projet1_btn, #projet2, #projet3, #projet4 {
    width: 0;
}

/* version jquery */
#projet1.animate {
    transform: scaleX(6) translateX(115px) translateY(300px);
    visibility: hidden;
    animation-name: anim_projet1;
    animation-duration: 1s;
    color: lightgrey;
}

#projet2.animate {
    transform: scaleX(6) translateX(40px) translateY(300px);
    visibility: hidden;
    animation-name: anim_projet2;
    animation-duration: 1s;
    color: lightgrey;
}

#projet3.animate {
    transform: scaleX(6) translateX(-40px) translateY(300px);
    visibility: hidden;
    animation-name: anim_projet3;
    animation-duration: 1s;
    color: lightgrey;
}

#projet4.animate {
    transform: scaleX(6) translateX(-115px) translateY(300px);
    visibility: hidden;
    animation-name: anim_projet4;
    animation-duration: 1s;
    color: lightgrey;
}

.reverse {
    animation-direction: reverse;
}

#projet1_article, #projet2_article, #projet3_article, #projet4_article {
    display: none;
    height: auto;
    margin-top: 20px;
}

@keyframes anim_projet1 {
    0% {
        transform: scaleX(0) translateY(0px) translateX(0px);
        visibility: visible;
        color: lightgrey;
    }
    100% {
        transform: scaleX(6) translateX(115px) translateY(300px);
        visibility: hidden;
    }
}

@keyframes anim_projet2 {
    0% {
        transform: scaleX(0) translateY(0px) translateX(0px);
        visibility: visible;
        color: lightgrey;
    }
    100% {
        transform: scaleX(6) translateX(40px) translateY(300px);
        visibility: hidden;
    }
}

@keyframes anim_projet3 {
    0% {
        transform: scaleX(0) translateY(0px) translateX(0px);
        visibility: visible;
        color: lightgrey;
    }
    100% {
        transform: scaleX(6) translateX(-40px) translateY(300px);
        visibility: hidden;
    }
}

@keyframes anim_projet4 {
    0% {
        transform: scaleX(0) translateY(0px) translateX(0px);
        visibility: visible;
        color: lightgrey;
    }
    100% {
        transform: scaleX(6) translateX(-115px) translateY(300px);
        visibility: hidden;
    }
}

#projet2:checked + label {
    background: saddlebrown;
}

#projet3:checked + label {
    background: deeppink;
}

#projet4:checked + label {
    background: goldenrod;
}

#projet1, #projet2, #projet3, #projet4, label {
    justify-content: center;
    border: 1px solid black;
    padding: 40px 0px;
    width: 15%;
    height: auto;
    text-align: center;
    cursor: pointer;
}

label:hover {
    transform: scale(1.15);
    transition-property: transform;
    transition-duration: 200ms;
}

.projet:focus {
    background: beige;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto.ttf") format('truetype');
}

@font-face {
    font-family: "OpenSans";
    src: url("fonts/OpenSans.ttf") format('truetype');
}

h1 {
    font-family: OpenSans;
}

    h1 > a {
        text-decoration: none;
        color: black;
    }

body {
    margin: auto;
    background: lightgrey;
}

header {
    display: flex;
    background: lightgrey;
}

h2 {
    font-size: 2em;
    font-family: Roboto;
}

h3 {
    font-size: 1.8em;
    font-family: Roboto;
}

h4 {
    font-size: 17.5px;
    font-family: Roboto;
}

p {
    font-size: 1.4em;
    font-family: OpenSans;
}

li {
    font-family: OpenSans;
}

#contenu {
    margin: 20px;
}

.titre_principal {
    margin-left: 10px;
    width: 40%;
    text-align: center;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    font-size: 1.3em;
    width: 60%;
}

    nav > ul {
        display: flex;
        list-style: none;
    }

        nav > ul > li {
            margin-right: 20px;
            text-transform: uppercase;
        }

#mes_competences_lien, #mes_projets_lien {
    text-decoration: none;
    color: white;
    text-decoration: underline;
}

section > ul {
    list-style-type: none;
    font-size: 20.8px;
}

a {
    font-family: Roboto;
}

.texte_presentation, .contenu {
    padding: 20px;
}

.hover:hover {
    transform: scale(1.15);
    transition-property: transform;
    transition-duration: 200ms;
}

li > a {
    text-decoration: none;
    color: black;
}

nav > ul > li > a:hover {
    color: white;
}

nav > ul > li > a:active {
    color: lightgreen;
}

nav > ul > li > a:visited {
    color: green;
}

.texte_intro {
    display: flex;
}

.texte_intro_gauche {
    background-image: url(images/numerique.jpg);
    background-color: #106e97;
    background-repeat: no-repeat;
    height: 500px;
    width: 50%;
    background-size: 100%;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    background-blend-mode: darken;
}

section {
    width: 100%;
}

.texte_intro_droite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-image: url(images/numerique_2.jpg);
    background-color: #19a6e3;
    background-repeat: no-repeat;
    background-size: 100%;
}

.ma_photo {
    height: 250px;
    width: 250px;
    object-fit: cover;
    object-position: 50% 20%;
    border-radius: 125px;
}

.img_reseaux {
    height: 50px;
    border: 2px solid lightgrey;
    background: white;
    border-radius: 20%;
    margin: 5px;
}

    .img_reseaux:hover {
        transform: scale(1.15);
        transition-property: transform;
        transition-duration: 200ms;
    }

.texte_intro_droite > p {
    color: white;
    font-size: 1.3em;
}

#skills {
    display: flex;
    width: 100%;
    text-align: center;
}

#soft_skills {
    width: 50%;
}

#soft_skills_list {
    list-style-type: circle;
    text-align: left;
    font-size: 24px;
}

#hard_skills {
    width: 50%;
    border-left: 2px solid black;
    padding-left: 20px;
}

#page_main, #mes_projets_contenu, #contact_contenu, #CV_contenu, #mon_propos {
    position: relative;
    min-height: 100vh;
}

#contenu_main, #articles, #contact, #mes_projets_articles, #contenu, #mon_propos_contenu {
    padding-bottom: 180px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    height: 180px;
    background-color: lightskyblue;
}

.footer_pages, .footer_reseaux {
    margin-left: 150px;
    text-align: center;
    flex-direction: column;
}

.copyright {
    display: flex;
    align-self: flex-end;
    padding-left: 20px;
}

.footer_pages > ul > li {
    list-style: none;
}

.footer_reseaux > ul > li {
    list-style: none;
}

.footer_pages > ul > li > a {
    color: white;
}

.footer_reseaux > ul > li > a {
    color: white;
}

.footer_pages > h4 {
    text-align: left;
    margin-left: 70px;
}

.footer_reseaux > h4 {
    text-align: left;
    margin-left: 38px;
}

article {
    display: flex;
    text-align: center;
    flex-flow: row wrap;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

.article {
    display: flex;
    text-align: center;
    flex-flow: row wrap;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    display: none;
}

.article:first-child {
    display: flex;
}

.inco_img, .openclassrooms_img {
    height: 100px;
    width: 100px;
    padding: 10px;
}

.articles_contenu {
    width: 65%;
    padding: 5px;
}

.projet_competences {
    border: 2px dashed black;
    padding-left: 20px;
    padding-right: 20px;
}

    .projet_competences > h3 {
        text-align: left;
    }

    .projet_competences > ul > li {
        list-style: disc;
        text-align: left;
        font-size: 22px;
    }

#formulaire {
    text-align: center;
}

input, textarea {
    border-radius: 10px;
    border-color: lightgrey;
}

input {
    width: 230px;
}

#email:not(:focus):invalid {
    background-color: lightcoral;
}

#submit {
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
}

    #submit:hover {
        transform: scale(1.15);
        transition-property: transform;
        transition-duration: 200ms;
    }

#ou {
    text-align: center;
    margin: 60px;
}

#mon_mail_lien, #mon_numero_lien {
    text-decoration: none;
}

#mon_mail:hover, #mon_numero:hover {
    transform: scale(1.15);
    transition-property: transform;
    transition-duration: 200ms;
}

#mon_mail, #mon_numero {
    text-align: center;
    text-decoration: none;
    color: black;
    width: 30%;
    padding: 5px;
    margin: auto;
    margin-bottom: 20px;
    border: 2px solid grey;
    border-radius: 20px;
    background: white;
}

.formes {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 5px;
}

.triangle_gauche {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 50px solid #032360;
    margin-left: 500px;
}

.triangle_droite {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 50px solid #032360;
    position: absolute;
    right: 500px;
}

.carre_gauche {
    width: 47.5px;
    height: 50px;
    border: 1px solid black;
    position: absolute;
    margin-left: 500px;
}

#carre_gauche_lien {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    cursor: pointer;
}

.carre_droite {
    width: 47.5px;
    height: 50px;
    border: 1px solid black;
    position: absolute;
    right: 500px;
}

#carre_droite_lien {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    cursor: pointer;
}

.cercle {
    margin-left: 155px;
    background: #032360;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;
}

#cercle_lien1, #cercle_lien2, #cercle_lien3, #cercle_lien4, #cercle_lien5 {
    background: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-top: 12.5px;
    margin-left: 12.5px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
}

    #cercle_lien1:hover, #cercle_lien2:hover, #cercle_lien3:hover, #cercle_lien4:hover, #cercle_lien5:hover {
        transform: scale(1.15);
        transition-property: transform;
        transition-duration: 200ms;
    }

#ligne {
    background: white;
    position: absolute;
    width: 410px;
    height: 20px;
    margin-left: 155px;
    z-index: -1;
    margin-top: 14px;
}

#fleche1, #fleche2, #fleche3 {
    z-index: 1;
}

#fleche1 {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid red;
    margin-right: 255px;
    margin-top: -10px;
    display: block;
}

#fleche2 {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid red;
    margin-left: 155px;
    margin-top: -10px;
    display: none;
}

#fleche3 {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid red;
    margin-left: 565px;
    margin-top: -10px;
    display: none;
}

#mes_projets_titre {
    text-align: center;
    color: #008000;
}

#bouton_article_precedent {
    cursor: pointer;
    position: absolute;
    left: 20%;
    border: 1px solid black;
    margin-top: 40px;
    display: none;
}

#bouton_article_suivant {
    cursor: pointer;
    position: absolute;
    right: 20%;
    border: 1px solid black;
    margin-top: 40px;
    display: block;
}

    #bouton_article_precedent:hover, #bouton_article_suivant:hover {
        transform: scale(1.15);
        transition-property: transform;
        transition-duration: 200ms;
    }

.cache {
    background: lightgrey;
    position: absolute;
    width: 100%;
    padding-top: 10px;
    margin-top: 10px;
    cursor: pointer;
    height: 250px;
}

.cache:hover {
    display: none;
}

#cache1 {
    height: 350px;
}

#cache2 {
    height: 500px;
}

#cache3 {
    height: 330px;
}

#cache4 {
    height: 330px;
}

#cache5 {
    background: lightgrey;
    position: absolute;
    height: 300px;
    margin-top: 10px;
    width: 100%;
    cursor: pointer;
}

#cache1_back, #cache2_back, #cache3_back, #cache4_back, #cache5_back {
    border: 1px solid black;
    margin: auto;
    margin-top: 5px;
    cursor: pointer;
}

.articles_contenu > ul {
    list-style-type: none;
    font-size: 24px;
}

.articles_contenu > p {
    text-align: justify;
    padding: 0px 10px 0px 10px;
}

.projet_competences {
    align-self: center;
}

#article_4 {
    position: initial;
}

#article_1, #article_2, #article_3 {
    position: absolute;
    bottom: 2000px;
}

#titre_projet {
    text-align: center;
    font-size: 44px;
    margin-bottom: 0px;
    padding-bottom: 20px;
}

@media all and (max-width: 1500px) {

    #hard_skills_img {
        height: 60%;
    }

    #projet1.animate {
        visibility: hidden;
        transform: scaleX(0) translateX(0px) translateY(0px);
        animation-name: anim_projet1;
        animation-duration: 0s;
        color: lightgrey;
    }
    
    #projet2.animate {
        visibility: hidden;
        animation-name: anim_projet2;
        animation-duration: 0s;
        color: lightgrey;
    }
    
    #projet3.animate {
        visibility: hidden;
        animation-name: anim_projet3;
        animation-duration: 0s;
        color: lightgrey;
    }
    
    #projet4.animate {
        visibility: hidden;
        animation-name: anim_projet4;
        animation-duration: 0s;
        color: lightgrey;
    }

    @keyframes anim_projet1 {
        0% {
            visibility: hidden;
            transform: scaleX(0) translateX(0px) translateY(0px);
            color: lightgrey;
        }
        100% {
            visibility: hidden;
            transform: scaleX(0) translateX(0px) translateY(0px);
        }
    }
    
    @keyframes anim_projet2 {
        0% {
            visibility: hidden;
            color: lightgrey;
        }
        100% {
            visibility: hidden;
        }
    }
    
    @keyframes anim_projet3 {
        0% {
            visibility: hidden;
            color: lightgrey;
        }
        100% {
            visibility: hidden;
        }
    }
    
    @keyframes anim_projet4 {
        0% {
            visibility: hidden;
            color: lightgrey;
        }
        100% {
            visibility: hidden;
        }
    }

    #projet1_article, #projet2_article, #projet3_article, #projet4_article {
        max-width: 100%;
    }

    #cache1, #cache2, #cache3, #cache4, #cache1_back, #cache2_back, #cache3_back, #cache4_back {
        display: none;
    }

    #fleche1 {
        bottom: 2000px;
    }

    .texte_intro_gauche, .texte_intro_droite {
        height: 400px;
        background-position: center;
    }

    .articles_contenu {
        max-width: 90%;
    }

    .projet_competences {
        display: flex;
        flex-direction: column;
        justify-self: center;
        text-align: center;
        border: 2px dashed black;
        min-width: 50%;
        margin-left: 20%;
        margin-right: 20%;
    }

    .triangle_gauche {
        width: 0;
        height: 0;
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
        border-right: 50px solid #032360;
        margin-left: 200px;
    }

    .triangle_droite {
        width: 0;
        height: 0;
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
        border-left: 50px solid #032360;
        position: absolute;
        right: 200px;
    }

    .carre_gauche {
        width: 47.5px;
        height: 50px;
        border: 1px solid black;
        position: absolute;
        margin-left: 200px;
    }

    #carre_gauche_lien {
        display: block;
        height: 100%;
        width: 100%;
        text-decoration: none;
        cursor: pointer;
    }

    .carre_droite {
        width: 47.5px;
        height: 50px;
        border: 1px solid black;
        position: absolute;
        right: 200px;
    }

    #carre_droite_lien {
        display: block;
        height: 100%;
        width: 100%;
        text-decoration: none;
        cursor: pointer;
    }

    .cercle {
        margin-left: 55px;
        background: #032360;
        border-radius: 50%;
        width: 75px;
        height: 75px;
        display: inline-block;
    }

    #cercle_lien1, #cercle_lien2, #cercle_lien3 {
        background: white;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: inline-block;
        margin-top: 12.5px;
        margin-left: 12.5px;
        cursor: pointer;
    }

    #ligne, .cercle, #cercle_lien1, #cercle_lien2, #cercle_lien3 {
        display: none;
    }

    #bouton_article_precedent {
        left: 20px;
    }

    #bouton_article_suivant {
        right: 20px;
    }

    .articles_contenu {
        min-width: 80%;
    }
}

@media all and (max-width: 1024px) {
    .articles_contenu {
        min-width: 80%;
    }

    #hard_skills_img {
        height: 40%;
    }

    nav {
        width: 100%;
    }

    nav > ul {
        overflow: scroll;
    }

    nav > ul > li {
        display: flex;
        padding-left: 40px;
        width: 40px;
    }

    .texte_intro {
        flex-direction: column;
    }

    .texte_intro_gauche, .texte_intro_droite {
        width: 100%;
    }

    .texte_intro_droite {
        padding-top: 20px;
    }

    footer {
        flex-direction: column;
        margin: 0;
        padding: 0;
        height: 220px;
    }

    .footer_pages, .footer_reseaux {
        margin: 0;
        padding: 0;
    }

    footer > .footer_pages > ul, footer > .footer_reseaux > ul {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .footer_pages > h4, .footer_reseaux > h4 {
        text-align: center;
        margin: 0;
        padding-top: 20px;
        margin-bottom: 20px;
    }

    footer > .footer_pages > ul > li, footer > .footer_reseaux > ul > li {
        margin-left: 20px;
        text-decoration: underline;
    }

    .copyright {
        order: 3;
        align-self: flex-start;
    }
    
    #contenu_main, #articles, #contact, #mes_projets_articles, #contenu {
        padding-bottom: 220px;
    }

    #projet1, #projet2, #projet3, #projet4 {
        display: none;
    }

    #projet1_article, #projet2_article, #projet3_article, #projet4_article {
        display: flex;
    }
}

@media all and (max-width: 767px) {
    #hard_skills_img {
        height: 15%;
    }

    .texte_intro_gauche, .texte_intro_droite {
        height: 210px;
    }

    .texte_intro_gauche {
        padding-bottom: 20px;
    }

    .ma_photo {
        height: 125px;
        width: 125px;
    }

    .texte_intro_gauche > section > h2 {
        font-size: 24px;
    }

    .texte_intro_gauche > section > ul {
        padding-left: 0;
    }
    
    .texte_intro_droite > p {
        font-size: 14px;
        margin: 7px 0px;
    }

    .img_reseaux {
        height: 40px;
    }

    #bouton_article_precedent, #bouton_article_suivant {
        display: none;
    }

    .projet_competences {
        width: 100%;
        margin: 20px;
        padding: 20px;
    }

    .articles_contenu {
        width: 100%;
    }

    .articles_contenu > p {
        font-size: 16px;
    }

    .articles_contenu > h3 {
        max-width: 80%;
        font-size: 24px;
        margin: 0;
        margin-left: 60px;
        padding: 0;
    }

    .articles_contenu > ul > li {
        font-size: 18px;
    }

    .openclassrooms_img, .inco_img {
        position: absolute;
        width: 50px;
        height: 50px;
    }

    footer {
        height: 240px;
    }

    #contenu_main, #articles, #contact, #mes_projets_articles, #contenu, #mon_propos_contenu {
        padding-bottom: 240px;
    }

    .footer_pages > ul > li > a {
        width: 200px;
    }

    .copyright {
        font-size: 14px;
        padding-top: 25px;
    }

    .projet_competences > h3 {
        display: flex;
        flex-flow: row wrap;
    }

    #skills {
        padding-bottom: 20px;
    }

    #soft_skills_list {
        padding-left: 20px;
    }

    #soft_skills > ul > li {
        font-size: 20px;
    }

    #mon_mail, #mon_numero, #demande {
        width: 80%;
    }

    #demande {
        margin-top: 10px;
    }
}